*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: rgb(65, 65, 209);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2{
  color: white;
  margin-bottom: 20px;
  text-align: center;
}
.passwordBox{
  width: 350px;
  background-color: rgb(25, 25, 78);
  padding: 20px;
  border-radius: 10px;
}
.passwordBoxin{
  display: flex;
}
.passwordBoxin input{
  flex-basis: 80%;
  padding: 5px;
  background-color: rgb(4, 4, 41);
  color: white;
  border: none;
  border-radius: 4px;
}
.passwordBoxin button{
  flex-basis: 20%;
  padding: 10px 0px;
  background-color: rgb(35, 35, 212);
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.passLength{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  color: white;
}
.passLength input{
  padding: 3px 0px;
  width: 60px;
  border: none;
  border-radius: 2px;
}
.passLength label{
  flex-basis: 80%;
}
.btn{
  width: 100%;
  padding: 10px 0px;
  font-size: 16px;
  background-color: rgb(35, 35, 212);
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}